streamlit>=1.30
pandas>=2.0
numpy>=1.25
scikit-learn>=1.2
joblib>=1.3
plotly>=5.20        # For interactive charts (px)
pydeck>=0.9.0       # For map visualizations
pyarrow>=12.0       # To handle Arrow table conversions in Streamlit
opencv-python>=4.7  # For image processing (cv2)
opencv-contrib-python>=4.7  # Optional, extra OpenCV modules
matplotlib>=3.8     # For plotting before/after images
opencv-python-headless==4.10.0.84

